body{
    /* border: 1px solid black; */
    width: 100%;
    height: 730px;
}
.userPanel{
    float: left;
    width: 40%;
    height: 100%;
    background-color: white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
.chooserTile{
    width: 100%;
    height: 23%;
    /* height: 160px; */
    /* border: 20px 0px 20px 0px solid beige; */
    float: left;
    /* margin: 0px auto; */
    background-color: white;
    text-align: center;
}
.pokeBox{
    /* padding: 1%  ; */
    float: left;
    width: 33.33%;
    height: 100%;
}
.pokePics{
    border: 1% solid black;
    width: auto;
    height: 98%;
    float: left;
}

.portraitTile{
    float: left;
    height: 37%;
    /* width: 70%; */
    background-color: black;
}
.portraitBox{
    height: 100%;
    text-align: center;
}
.statsBox{
    float: left;
    color: white;
}
#portrait{
    float: left;
    width: auto;
    height: 100%;
    /* border: 2px solid pink; */
    
}
.abilitiesTile{
    float: left;
    height: 40%;
    width: 100%;
    background-color: grey;
}
.button{
    float: left;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #555555; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1, .button2, .button3, .button4{
    background-color: white;
    color: #555555;
    border: 2px solid #555555;
}
.button1:hover, .button2:hover, .button3:hover, .button4:hover{
    background-color: #555555;
    color: white;
}

.battlePanel{
    border: 1px solid black;
    float: left;
    width: 55%;
    height: 100%;
    background-color: white;
}

.battleTile{
    float: left;
    height: 70%;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.gymLeader{
    float: left;
    height: 25%;
    width: 50%;
    /* border: 1px solid red; */
    background-color: azure;
}
.dialogue{
    font-weight: bold;
    font-size: 30px;
    background-color: lightgrey;
    height: 30%;
    width: 100%;
    float: left;
    text-align: center;
}


.pokePortrait{
    float: left;
    height: 80%;
    width: 40%;
}
.pokeOpponent{
    filter: blur(20px) grayscale(100%);
    float: right;
    height: 80%;
    width: auto;
}
#healthBar{
    float: left;
    width: 100%;
    height: 10%;
}